doctype 5
html
  head
    title Führerschein Lernkartei
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js")
    block javascripts
  body
    block content